<div class="container" >
  <div class="home-content">
    <form action="/fulldetails" method="post" name="form" >
  
  <div class="form-group">
    <label for="name">Name :  <label>
      <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
     </div>

     <div class="form-group">
      <label for="contact">Contact :   <label>
      <input type="integer" class="form-control" id="contact" placeholder="Enter phone" name="contact">
    </div>
    
      </div>
     <div class="form-group">
      <label for="dob">DOB :   <label>
      <input type="date" class="form-control" id="dob" placeholder="Enter dob" name="dob">
    </div>

      
    <div class="form-group">
      <label for="address">Address :  <label>
      <input type="text" class="form-control" id="address" placeholder="Enter address" name="address">
    </div>
    <div>
      <label for="Country">Country:</label>
      <select name="country" id="Country">
      <option value="">Select</option>
      <option value="Dubai">Dubai</option>
      <option value="USA">USA</option>
      <option value="India">India</option>
      <option value="China">China</option>
  </select>
</div><br>

    <div class="form-group">
       <label for="value">Gender :  <label>
       <input type="radio" id="Male" name="gender" value="Male">
       <label for="Male">Male</label>
       <input type="radio" id="Female" name="gender" value="Female">
       <label for="Female">Female</label>
    </div>
    <div class="form-group">
       <label for="value">Relationship :  <label>
       <input type="radio" id="Single" name="relationship" value="Single">
       <label for="Single">Single</label>
       <input type="radio" id="Married" name="relationship" value="Married">
       <label for="Married">Married</label>
       <input type="radio" id="Divorced" name="relationship" value="Divorced">
       <label for="Divorced">Divorced</label>

    </div>
    <div class="form-group">
      <p>Hobbies : </p>
      <input type="checkbox" id="Cricket" name="hobbies" value="Cricket">
      <label for="Cricket"> Cricket</label>
      <input type="checkbox" id="Singing" name="hobbies" value="Singing">
      <label for="Singing">Singing</label>
      <input type="checkbox" id="Dancing" name="hobbies" value="Dancing">
      <label for="Dancing">Dancing</label>
      <input type="checkbox" id="Reading" name="hobbies" value="Reading">
      <label for="Reading">Reading</label>
    </div>
   <button type="reset" style="background-color: blue; float: right;">Clear</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
</div>